@import '../../node_modules/bootstrap/scss/bootstrap';

body{
  background: #eeeac7;
  font-size:15px;
}


.deconnexion{
  display:none;
}

.pointer{
  cursor:pointer !important;
}

.post {
  margin:40px;
  border-radius:10px 0 0 10px;
  background: linear-gradient(0.33turn, #F7AF21, #f7dc85);
  padding:20px 30px;
  border: 1px solid #dbbe77;
  z-index: -2;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  h4 {
    font-size:20px;
    margin-top:0;
    position:relative;
    display: inline-block;
    color:white;
  z-index:1;
  }
  h4:after{
    content: "";
    background: #f79212;
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: -7px;
    width: 100%;
    height: 18px;
  }
}
.post:hover {
  box-shadow: 0 4px 5px rgba(247, 146, 18, 0.3), 0 3px 4px rgba(247, 217, 130, 0.3);

}
.message {
  color: white;
  text-shadow: 1px 1px 0 lightgray;
}
.auteur {
  color: rgba(0, 0, 0, 0.5);
  span:last-child {
    margin-left:10px;
    color: rgba(0, 0, 0, 0.2);

  }
}
.reponse {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
  img {
    height:15px;
    margin-right:5px;
    margin-top:-2px;
  }
}
.connexion-good{
  display:none;
  justify-content: center;
  align-items: center;
}

